*{
    margin: 0;padding: 0;list-style: none;text-decoration: none;
    box-sizing: border-box;outline: none;cursor: default;
}
input{
    font: inherit;
}
body{
    font-family:SF Pro Text;
    position: relative;
}


/*----- welcome page css -----*/

.welcome-page{
    width: 100%;
    height: 6.67rem;
    color:rgba(255,255,255,1);
    font-size: 0.17rem;
    text-align: center;
    position: absolute;
    top: 0;
    z-index: 10;
}
.welcome-page > .welcome-bg {
    background: url(../img/bg5.jpeg);
    height:100%;
    text-align: center;
}
.welcome-page > .welcome-bg-blur {
    position: fixed;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
}
.welcome-page > .welcome-wrap > .welcome-head{
    width: 100%;
    height: 0.64rem;
    padding: 0.3rem 0 0.12rem;
    position: relative;
}
.welcome-page > .welcome-wrap > .welcome-head > p{
    display: inline-block;
    font-weight:600;
    margin: 0 auto;
}
.welcome-page > .welcome-wrap > .welcome-head > a{
    font-weight:400;
    color:rgba(255,149,0,1);
    display: inline-block;
    position: absolute;
    right: 0.16rem;
    cursor: pointer;
    transition: all 0.3s;
}
.welcome-page > .welcome-wrap > .welcome-head > a:hover{
    color: rgb(253, 253, 253);
}
.welcome-page > .welcome-wrap > .welcome-content >.welcome-icon-bottom,.welcome-text,.welcome-text-bottom{
    margin: 0 auto;
}
.welcome-page > .welcome-wrap > .welcome-content > .welcome-icon > img{
    width: 0.5rem;
    height: 0.5rem;
    margin: 0.29rem 0 0.07rem 0;
    border-radius: 0.5rem;
}
.welcome-page > .welcome-wrap > .welcome-content > .welcome-icon-bottom{
    font-size: 0.26rem;
    font-weight:500;
}
.welcome-page > .welcome-wrap > .welcome-content > .welcome-text{
    font-size:0.26rem;
    font-weight:500;
    margin-top: 2.37rem;
    margin-bottom: 0.07rem;
}
.welcome-page > .welcome-wrap > .welcome-content > .welcome-text-bottom{
    width:2.52rem;
    height:0.44rem;
    font-weight:400;
    line-height:0.22rem;
    color:rgba(234,234,237,1);

}

/*----- sign in css -----*/

.signIn-page{
    width: 100%;
    height: 6.67rem;
    color:rgb(255,255,255);
    font-size: 0.17rem;
    text-align: center;
    position: absolute;
    top: 0;
    z-index: 9;
}

.signIn-page > .signIn-bg {
    background: url(../img/signIn-bg3.jpeg);
    height:100%;
    text-align: center;
}
.signIn-page > .signIn-bg-blur {
    position: fixed;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
}
.signIn-page >.signIn-wrap > .signIn-head{
    width: 100%;
    height: 0.64rem;
    padding: 0.3rem 0 0.12rem;
    position: relative;
}
.signIn-page >.signIn-wrap > .signIn-head > .signIn-back{
    font-weight:400;
    color:rgba(255,149,0,1);
    position: absolute;
    left:0.16rem;
    cursor: pointer;
    transition: all 0.3s;
    font-weight: 400;
    display: inline-block;
}
.signIn-page >.signIn-wrap > .signIn-head > .signIn-back::before{
    content: '';
    background-image: url(../img/back.svg);
    width: 0.2rem;
    height: 0.3rem;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    float: left;
    margin:0.01rem 0.02rem 0 0;
}
.signIn-page >.signIn-wrap > .signIn-head > .signIn-skip{
    font-weight:400;
    color:rgba(255,149,0,1);
    position: absolute;
    right:0.16rem;
    cursor: pointer;
    transition: all 0.3s; 
    font-weight: 400;
    display: inline-block;
}
.signIn-page >.signIn-wrap > .signIn-head > a:hover{
    color: rgb(253, 253, 253);
}
.signIn-page >.signIn-wrap > .signIn-head > p{
    font-weight:600;
    display: inline-block;
}
.signIn-page >.signIn-wrap > .signIn-content > .signIn-icon > img{
    width: 0.5rem;
    height: 0.5rem;
    margin: 0.29rem 0 0.07rem 0;
    border-radius: 0.5rem;
}
.signIn-page >.signIn-wrap > .signIn-content > .signIn-icon-bottom{
    font-size: 0.26rem;
    font-weight:500;
    margin-bottom: 0.35rem;
}
.signIn-page >.signIn-wrap > .signIn-content > .signIn-form > div > .input{
    border: 0;
    background-color: rgba(255,255,255,0);
    border-bottom: 1px solid rgba(255, 255, 255, 1);
    outline: none;
    margin-bottom:0.22rem;
    width: 2.5rem;
    padding-bottom: 0.12rem;
    color: white;
    cursor: text;
}
#signIn-submit{
    margin-top: 0.29rem;
    margin-bottom: 0.19rem;
    color: white;
    font-size: 0.16rem;
    font-weight: 500;
    width:1.71rem;
    height:0.44rem;
    line-height: 0.44rem;
    border: 0;
    background-color:rgba(0,118,255,1);
    border-radius:4px;
    cursor: pointer;
    transition: all .3s;
}
#signIn-submit:hover{
    background-color:  #FF9500;
}
.signIn-page >.signIn-wrap > .signIn-content > .signIn-form > div > #CreatAccount{
    font-size:0.16rem;
    font-weight:400;
    color:rgba(234,234,237,1);
    cursor: pointer;
    transition: all .3s;

}
.signIn-page >.signIn-wrap > .signIn-content > .signIn-form > div > #CreatAccount:hover{
    color: #FF9500;
}

/*----- sign Up css -----*/

.signIn-page > .signUp-bg {
    background: url(../img/signIn-bg1.jpeg);
    height:100%;
    text-align: center;
}
.signIn-page > .signUp-bg-blur {
    position: fixed;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
}
.signIn-page >.signUp-wrap > .signUp-head{
    width: 100%;
    height: 0.64rem;
    padding: 0.3rem 0 0.12rem;
    position: relative;
}
.signIn-page >.signUp-wrap > .signUp-head > .signUp-back{
    font-weight:400;
    color:rgba(255,149,0,1);
    position: absolute;
    left:0.16rem;
    cursor: pointer;
    transition: all 0.3s;
    font-weight: 400;
    display: inline-block;
}
.signIn-page >.signUp-wrap > .signUp-head > .signUp-back::before{
    content: '';
    background-image: url(../img/back.svg);
    width: 0.2rem;
    height: 0.3rem;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    float: left;
    margin:0.01rem 0.02rem 0 0;
}

.signIn-page >.signUp-wrap > .signUp-head > a:hover{
    color: rgb(253, 253, 253);
}
.signIn-page >.signUp-wrap > .signUp-head > p{
    font-weight:600;
    display: inline-block;
}
.signIn-page >.signUp-wrap > .signUp-content> .signUp-form > .signUp-icon > img{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 0.5rem;
    margin-bottom: 0.29rem;
}
.signIn-page >.signUp-wrap > .signUp-content > .signUp-icon-bottom{
    font-size: 0.28rem;
    font-weight:500;
    margin-top: 0.4rem;
    margin-bottom: 0.6rem;
}
.signIn-page>.signUp-wrap>.signUp-content>.signUp-form>div>.input{
    border: 0;
    background-color: rgba(255,255,255,0);
    border-bottom: 1px solid rgba(255, 255, 255, 1);
    outline: none;
    margin-bottom:0.22rem;
    width: 2.5rem;
    padding-bottom: 0.12rem;
    color: white;
    cursor: text;
}

#signUp-password{
    margin-bottom: 0;
}
#signUp-submit{
    margin-top: 0.29rem;
    margin-bottom: 0.83rem;
    color: white;
    font-size: 0.16rem;
    font-weight: 500;
    width:1.71rem;
    height:0.44rem;
    border: 0;
    background-color:rgba(0,118,255,1);
    border-radius:4px;
    cursor: pointer;
    line-height: 0.44rem;
}
.signIn-page>.signUp-wrap>.signUp-content>.signUp-form>.declare{
    font-size:0.14rem;
    font-weight:400;
    line-height:0.21rem;
    color: #FF9500;
    margin: 0 auto;
}
.signIn-page>.signUp-wrap>.signUp-content>.signUp-form>.declare>p{
    display: inline-block;
}
.signIn-page>.signUp-wrap>.signUp-content>.signUp-form>.declare>p:first-child{
    color: white;
    display: block;
}



