*{
    margin: 0;padding: 0;list-style: none;text-decoration: none;
    box-sizing: border-box;outline: none;cursor: default;
}
input{
    font: inherit;
}
body{
    font-family:SF Pro Text;
    position: relative;
}

/*----- Album page css -----*/
.Album-page{
    width: 100%;
    color:rgba(255,255,255,1);
    font-size: 0.17rem;
    text-align: center;
    position: absolute;
    top: 0;
    z-index: 9;
}
.Album-page > .Album-bg {
    background: url(../img/index-bg.jpg);
    height:6.67rem;
    text-align: center;
    line-height: 6.67rem;
}
.Album-page > .Album-bg-blur {
    position: fixed;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: blur(1px);
    z-index: -1;
}
.Album-page{
    width: 100%;
    color:rgba(255,255,255,1);
    font-size: 0.17rem;
    text-align: center;
    position: absolute;
    top: 0;
    z-index: 8;
}
.Album-page >.Album-wrap > .Album-head{
    width: 100%;
    height: 0.64rem;
    padding: 0.3rem 0 0.12rem;
    position: relative;
}
.Album-page >.Album-wrap > .Album-head > .Album-back{
    font-weight:300;
    color:rgba(255,149,0,1);
    position: absolute;
    left:0.16rem;
    cursor: pointer;
    line-height: 0.25rem;
    transition: all 0.3s;
    display: inline-block;
}
.Album-page >.Album-wrap > .Album-head > .Album-back::before{
    content: '';
    background-image: url(../img/back.svg);
    width: 0.25rem;
    height: 0.25rem;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    float: left;
    margin-right: 0.05rem;
}
.Album-page >.Album-wrap > .Album-head > .search{
    width: 0.25rem;
    height: 0.25rem;
    color:rgba(255,149,0,1);
    position: absolute;
    right:0.16rem;
    cursor: pointer;
    transition: all 0.3s;
    display: inline-block;
}
.Album-page >.Album-wrap > .Album-head > a:hover{
    color: rgb(253, 253, 253);
}
.Album-page >.Album-wrap > .Album-head > p{
    font-weight:600;
    display: inline-block;
}

/* -----Album info head css----- */
.Album-page > .Album-wrap > .Album-info-wrap{
    padding-top: 0.16rem;
    padding-left:0.16rem;
    text-align: left;
    overflow: hidden;
}
.Album-page > .Album-wrap > .Album-info-wrap > .Album-pic{
    float: left;
    margin-right: 0.16rem;
}
.Album-page > .Album-wrap > .Album-info-wrap > .Album-pic > img{
    height: 1.2rem;
    width: 1.2rem;
}
.Album-page > .Album-wrap > .Album-info-wrap > .Album-info{
    float: left;
    height: 1.2rem;
    width: 2.23rem;
    position: relative;
    border-bottom: 1px solid rgba(209,209,214,0.2);
}
.Album-page > .Album-wrap > .Album-info-wrap > .Album-info > .Album-info-name{
    font-size: 0.22rem;
    font-weight: 500;
}    
.Album-page > .Album-wrap > .Album-info-wrap > .Album-info > .Album-info-singer{
    font-size: 0.22rem;
    font-weight: 500;
}    
.Album-page > .Album-wrap > .Album-info-wrap > .Album-info > .Album-info-year{
    font-size: 0.13rem;
    font-weight: 400;
    color:rgb(142, 142, 148);
    position: absolute;
    bottom: 0;
}

/* -----Album songlist css----- */

.Album-page > .Album-wrap > .Album-songlist{
    padding: 0 0 0 0.16rem;
    text-align: left;
    border-bottom: 1px solid rgba(209,209,214,0.2);
    margin-bottom: 0.26rem;
}
.Album-page > .Album-wrap > .Album-songlist > .Album-songlist-headBar{
    padding: 0.18rem 0 0.2rem 0;
    font-size: 0.17rem;
    font-weight: 400;
    border-bottom: 1px solid rgba(209,209,214,0.2); 
}
.Album-page > .Album-wrap > .Album-songlist > .Album-songlist-ul-wrap > .Album-songlist-ul > .Album-songlist-ul-li{
    height: 0.59rem;
    width: 3.59rem;
    padding: 0.07rem 0 0.09rem 0;
    text-align: left;
    border-bottom:1px solid rgba(209,209,214,0.2);
}
.Album-page > .Album-wrap > .Album-songlist > .Album-songlist-ul-wrap > .Album-songlist-ul > .Album-songlist-ul-li:last-child{
    border-bottom: none;
}
.Album-page > .Album-wrap > .Album-songlist > .Album-songlist-ul-wrap > .Album-songlist-ul > .Album-songlist-ul-li::before{
    content: '';
    background-image: url(../img/huore-s.svg);
    width: 0.3rem;
    height: 0.3rem;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    float: left;
    margin-top: 0.07rem;   
    margin-right: 0.07rem;   
}
.Album-page > .Album-wrap > .Album-songlist > .Album-songlist-ul-wrap > .Album-songlist-ul > .Album-songlist-ul-li > .Album-songlist-name{
    font-size: 0.17rem;
    font-weight: 400;
    cursor: pointer;
    transition: all .3s;
}
.Album-page > .Album-wrap > .Album-songlist > .Album-songlist-ul-wrap > .Album-songlist-ul > .Album-songlist-ul-li > .Album-songlist-Album{
    font-size: 0.15rem;
    font-weight: 400;
    color: rgba(143,142,148,1);
    cursor: pointer;
}