*{
    margin: 0;padding: 0;list-style: none;text-decoration: none;
    box-sizing: border-box;outline: none;cursor: default;
}
input{
    font: inherit;
}
body{
    font-family:SF Pro Text;
    position: relative;
}


/*----- index page css -----*/

/* .index-page > .index-bg {
    background: url(../img/signIn-bg1.jpeg);
    height:6.67rem;
    text-align: center;
    line-height: 6.67rem;
}
.index-page > .index-bg-blur {
    position: fixed;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: blur(1px);
    z-index: -1;
} */
.index-page{
        width: 100%;
        color:rgba(255,255,255,1);
        font-size: 0.17rem;
        text-align: center;
        position: absolute;
        top: 0;
        z-index: 8;
        background-color: black; 
}
.index-page >.index-wrap > .index-head{
    width: 100%;
    height: 0.64rem;
    padding: 0.3rem 0 0.12rem;
    position: relative;
}
.index-page >.index-wrap > .index-head > .index-back{
    font-weight:300;
    color:rgba(255,149,0,1);
    position: absolute;
    left:0.16rem;
    cursor: pointer;
    transition: all 0.3s;
    display: inline-block;
}
.index-page >.index-wrap > .index-head > .index-back::before{
    content: '';
    background-image: url(img/yonghu.svg);
    width: 0.25rem;
    height: 0.25rem;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    float: left;
}
.index-page >.index-wrap > .index-head > .search{
    width: 0.25rem;
    height: 0.25rem;
    color:rgba(255,149,0,1);
    position: absolute;
    right:0.16rem;
    cursor: pointer;
    transition: all 0.3s;
    display: inline-block;
}
.index-page >.index-wrap > .index-head > a:hover{
    color: rgb(253, 253, 253);
}
.index-page >.index-wrap > .index-head > p{
    font-weight:600;
    display: inline-block;
}
.index-page > .index-wrap > .index-content > .swiper-container-singer{
    width: 100%;
    height: 2.2rem;
    margin-bottom: 0.18rem;
}
.index-page > .index-wrap > .index-content > .swiper-container-singer > .swiper-wrapper > div > img{
    width: 100%;
    height: 100%;
}

/* -----album css----- */

.index-page > .index-wrap > .index-content > .Album-list > .Album-list-head{
    margin-bottom: 0.2rem;
    height: 0.22rem;
}
.index-page > .index-wrap > .index-content > .Album-list > .Album-list-head > span{
    font-weight: 400;
    font-size: 0.17rem;
    position: absolute;
}
.index-page > .index-wrap > .index-content > .Album-list > .Album-list-head > span:first-child{
    left: 0.16rem;
}
.index-page > .index-wrap > .index-content > .Album-list > .Album-list-head > span:last-child{
    right:0.16rem;
    color:#FF9500;
}
.index-page > .index-wrap > .index-content > .Album-list > .swiper-container-album{
    height: 1.96rem;
    width:3.5rem;
    margin-left: 0.16rem;
}
.index-page > .index-wrap > .index-content > .Album-list > .swiper-container-album > .swiper-wrapper > div > img{
    width: 100%;
    height: 1.4rem;
    border-radius: 5px;
}
.index-page > .index-wrap > .index-content > .Album-list > .swiper-container-album > .swiper-wrapper > div > .album-name{
    text-align: left;
    font-size: 0.17rem;
    font-weight: 400;
}
.index-page > .index-wrap > .index-content > .Album-list > .swiper-container-album > .swiper-wrapper > div > .album-singer{
    text-align: left;
    font-size: 0.13rem;
    font-weight: 400;
    color: #8F8E94;
    line-height: 0.18rem;
}  

/* -----language css----- */

.index-page > .index-wrap > .index-content > .language-list{
    margin-bottom: 0.18rem;
}
.index-page > .index-wrap > .index-content > .language-list > .language-list-head{
    margin-bottom: 0.2rem;
    height: 0.22rem;
}
.index-page > .index-wrap > .index-content > .language-list > .language-list-head > span{
    font-weight: 400;
    font-size: 0.17rem;
    position: absolute;
}
.index-page > .index-wrap > .index-content > .language-list > .language-list-head > span:first-child{
    left: 0.16rem;
}
.index-page > .index-wrap > .index-content > .language-list > .language-list-head > span:last-child{
    right:0.16rem;
    color:#FF9500;
}
.index-page > .index-wrap > .index-content > .language-list > .swiper-container-language{
    height: 1.4rem;
    width:3.5rem;
    margin-left: 0.16rem;
}
.index-page > .index-wrap > .index-content > .language-list > .swiper-container-language > .swiper-wrapper > div > img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
} 